

<!-- <button mat-raised-button class="btn-success" [routerLink]="['/users']">Back To Users</button> -->

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">

            <h2> {{inEditMode ? "Update User" : 'Add New User' }}</h2>
            <form [formGroup]="userForm" (ngSubmit)="createUser()">

                <div class="form-group">
                    <label for="userName">User Name</label>
                    <input class="form-control" id="userName" formControlName="userName">
                </div>

                <div class="form-group">
                    <label for="userRole">User Role</label>

                    <select name="" id="" class="form-control" formControlName="userRole">
                        <option value="userRole" selected = "Selected" disabled>Select User Role</option>
                        <option value="admin">Admin</option>
                        <option value="user">User</option>
                    </select>
                </div>
                <div class="text-right">
                    <button mat-raised-button color="primary" type="submit" *ngIf="!inEditMode">Add user</button>
                    <button mat-raised-button color="accent" type="button" *ngIf="inEditMode"
                    (click) = "updateUser()"
                    >Update user</button>
                </div>

            </form>
        </div>
    </div>
</div>


