<button type="button" mat-raised-button color="primary" class=" mb-3" [routerLink]="['add-prod']">Add New
    Product</button>


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let product of productsArray"
                
                [routerLink]="[product.pId]"
                [queryParams]="{canEdit: product.canReturn}"
                [routerLinkActive]="'active'"
                [routerLinkActiveOptions]="{'exact' : false}"
                
                    >
                    {{product.pName}}

            </ul>
        </div>
        <div class="col-md-8">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>