.main {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/images/loginBg1.jpg");
    
    .authForm {
        width: 600px;
        max-width: 90%;
        // border: 2px solid red;
        background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5));
       
        align-items: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        ba & .card-body {
            width: 100%;
        }

    }

    .logInForm {
        // border: 2px solid green;
    }
}

a {
    text-decoration: none;
    cursor: pointer;
}